body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #585858;
}

.main {
  display: flex;
  position: relative;
  color: white;
  font-weight: bold;
}

.main div:hover {
  animation: ball 1s;
}

.circle-1 {
  width: 250px;
  height: 250px;
  border-radius: 180px;
  background-color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
.circle-1:hover{
  background-color: #e74141;
}

.circle-2 {
  width: 150px;
  height: 150px;
  border-radius: 180px;
  background-color: #4ecd09;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
.circle-2:hover{
  background-color: #85ef4c
}
.circle-3 {
  width: 70px;
  height: 70px;
  border-radius: 180px;
  background-color: #ff0066;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
.circle-3:hover{
  background-color: #f85797;
}
.circle-4 {
  width: 200px;
  height: 200px;
  border-radius: 180px;
  background-color: #e87a20;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
.circle-4:hover{
  background-color: #ffac68;
}
.circle-5 {
  width: 140px;
  height: 140px;
  border-radius: 180px;
  background-color: #6f00af;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
.circle-5:hover{
  background-color: #c058fc;
}
@keyframes ball {
  0% {
      transform: scale(1);
  }
  20% {
      transform: translateY(-20px);
  }
  40% {
      transform: scaleY(0.89);
  }
  60% {
      transform: translateY(-20px);
  }
  80% {
      transform: scaleY(0.95);
  }
  100% {
      transform: scale(1);
  }
}
